body{
  font-family: 'Barlow', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Playfair Display SC', serif;
}
*,*:before,*:after{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } :focus,:active,a:focus,a:active{outline: none;} 
nav,footer,header,aside{display: block;} 
html,body{ margin: 0; height: 100%;  font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; } 
input,button,textarea{font-family:inherit;} 
input::-ms-clear{display: none;}
 button{cursor: pointer;} 
 button::-moz-focus-inner {padding:0;border:0;} 
 a, a:visited, a:hover{text-decoration: none;}
  ul li{list-style: none;} img{vertical-align: top;} 
  h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;
  margin: 0;} 

  .container {
    max-width:1440px;
    height: auto;
    margin: 0 auto;
  }

/* header */
.nav_inner {
  display: flex;
  justify-content: space-between;
  padding: 0 30px
}
.nav_block {
  align-items:stretch;

}
.nav_block:nth-child(2){
  display: flex;
}
.logo {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  margin: 30px;
}
.nav_item {
  padding-left:75px;
  align-self: center;
}
.nav_item a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

   color:gray;
  transition: all 0.3s ease;
}
.nav_item a:hover{
  color: black;
  text-decoration: underline;
}
.search_icon {
  width: 20px;
  height: 19px;
  cursor: pointer;
  fill:gray;
  transition: all 0.3s ease;
}
.search_icon:hover {
 fill:black;
}
.intro_inner {
  position: relative;
}
.intro_img {
  width: 100%;
  position: relative;
}
.intro_block {
  width: 560px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  top: 200px;
  padding: 0px 70px;

}
.intro_title {
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 51px;
line-height: 68px;
padding-top: 40px;
margin-bottom: 0;
}
.intro_subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 39px;
  margin:0 ;
  padding-bottom: 80px;
}
/* OurServices */
.OurServices {
 
  color:#2F2E2E;
}
.OurServices_inner {
  background-color:#254D4D33;
}
.OurServices_object {
  text-align: center;
  display: flex;
}
.OurService_title {
  width: 100%;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 51px;
  line-height: 68px;
  margin:15px 0 45px 0;
}
.OurServices_item {

  width: 33.33333%;
  padding: 0 10%;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;

}
.OurServices_item h3{

  font-size: 27px;
  line-height: 36px;
margin: 0 auto;
}
.OurServices_item p{
font-size: 16px;
line-height: 21px;
}

/* AboutUS */

.AboutUs_inner {
  display: flex;
  margin: 5% 10%;
}
.AboutUs_group {
  width: 50%;
}
.AboutUs_group h3{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 51px;
line-height: 68px;
}
.AboutUs_group:nth-child(2) {
  padding-left: 30px;
  padding-right: 80px;
}
.AboutUs_group h3{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 51px;
line-height: 68px;
}
.AboutUs_group p{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 41px;
}
.AboutUs_group a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding-right: 10px;
  color:black
}
.AboutUs_group a:hover{
  opacity: .8;
}

.AboutUs_group img{
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}
/* Testimonial */
.Testimonial {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
}
.Testimonial_group {
  display: flex;
  width: 100%;
}
.Testimonial_group h3{
  width: 100%;
  font-weight: 500;
  font-size: 51px;
  line-height: 68px;
  text-align: center;
  margin-bottom: 50px;
}
.Testimonial_item {

  display: flex;
  width: 50%;
  margin: auto 5%;
}
.Testimonial_item_content {
  margin: 3% 5% ;
}
.Testimonial_title {
  font-size: 28px;
  line-height: 37px;

}
.Testimonial_subtitle {
  font-size: 17px;
  line-height: 23px;

  margin:16px 25px 0 0 ;

}
.Testimonial_img{
  max-width: 151px;
  max-height: 151px;
}
/* footer */
.footer {
  margin-top: 70px;

}

.footer_inner {
 padding: 36px 0 26px 100px;
 background-color:#2E2F32;
}
.social_item  svg{
  fill:#FAFAFA;
  cursor: pointer;
  margin-right: 36px;
  width: 21.89px;
  height: 21.93px;
  transition: all .3s linear ;
  border-radius: 30%;
}
.social_item:nth-child(1)  svg:hover{
  fill:rgb(4, 4, 82)
}
.social_item:nth-child(2)  svg:hover{

  fill: #c13584;

}
.social_item:nth-child(3)  svg:hover{
  fill:rgb(105, 132, 254)
}